# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
minishell















.vscode
cpp00.fr.subject.pdf cpp01.en.subject.pdf cpp02.fr.subject.pdf cpp03.en.subject.pdf cpp04.fr.subject.pdf cub3D.fr.subject.pdf fractol.fr.subject.pdf minishell.en.subject.pdf netpractice.fr.subject.pdf philosophers.en.subject.pdf pipex.fr.subject.pdf push_swap.fr.subject.pdf
minishell_tester
